<table id="user_table" class = "table table-striped col-md-12  table-hover table-bordered" style="border:1px">
    <thead>
      <tr>
        <th  style="text-align:center ">S.No</th>
        <!-- <th>Deppt.ID</th>   -->
        <th  style="text-align:center ">Name</th>
        <th  style="text-align:center ">Phone </th>

        <th  style="text-align:center ">Email</th>
        <th  style="text-align:center ">Role</th>

        <th  style="text-align:center ">Actions</th>
    </thead>
    <tbody>
      {% for user in search_filter_data %}
        <tr id ="{{user.id}}">
          <td  style="text-align:center ">{{ users.start_index|add:forloop.counter0}}</td>
          <td  style="text-align:center "> {% if user.first_name  %}    {{user.first_name}} {{user.last_name}}   {% else %} ----{% endif %}</td>
          <td  style="text-align:center ">  {% if user.profile__phone  %} {{user.profile__phone }} {% else %}----{% endif %}</td>
          <td  style="text-align:center ">{{user.email }} </td>
          <td  style="text-align:center ">{{user.profile__role_id__role }} </td>

          <td  style="text-align:left">
              <a class="ml-2" style="color:#0e4797 " data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Edit" href="/secret/edit_user/{{ user.id }}"><i class="fas fa-user-edit fa-lg"></i></a>

              <label class="switch">
                <input class="root" id="{{user.id}}"    type="checkbox" {% if  user.is_active is True %}
                checked {% else %} unchecked {% endif %}>
                <span  data-toggle="popover" data-trigger="hover" data-placement="top" {% if  user.is_active is True %}
                data-content="Active user" {% else %} data-content="Inactive user" {% endif %} class="slider round" style="background-color:#2a72d2" ></span>
              </label>




          </td>
        </tr>
       
      {% endfor %}
    </tbody>
  </table>