{% extends 'secret/layout.html' %}
{% block content %}
{% load static %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<style>

label:after{
  content:'*';
  color:red;
}

.err-block{
  color:red;
}
.hidden{
     display:none;
 }

 
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -2px;
  right: -2px;
  bottom: 0;
  background-color: #ccc!important;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 2.7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius:10px;
}

input:checked + .slider {
  background-color:#3e7fc1!important;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}


</style>
<div >
  <input id="token" type="text" name="csrfmiddlewaretoken" value="{{csrf_token}}" style="display:none">
  <div class="container-fluid">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="/secret">Dashboard</a>
      </li>
      <li class="breadcrumb-item active"> list Coupons  </li>
    </ol>
    
    <div class="row">
        <div class="widget">
          <div class="widget-header"> 
              <div class="row">
                  <div class="col-md-4" style="display:block">
                      <form class="mt-1" name="myform" method="POST" action="/secret/list_promocodes/"> {% csrf_token %}
                        <input class="form-control " type="text" name="search" placeholder="Search" {% if data %} value="{{data}}" {% else %}
                        value="" {% endif %}>
                      </form>
                  </div>
                  <div class="col-md-2" style="line-height: 44px;" >
                    <form name="myform" method="GET" action="/secret/list_promocodes/">
                      <a class="btn btn-primary "  href="/secret/list_promocodes/" style="background-color:#0e4797;color:white ">Reset</a>  
                    </form>
                  </div>
                  <div class= "col-md-3 ml-auto " style="line-height: 44px;text-align: right;" >
                    <a class="btn btn-primary  ml-auto   " style="background-color:#0e4797;color:white "  href="/secret/add_promocode/">Add Coupon <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                  </div>
                </div>
          </div>
          <div class="widget-content">
            <div class="alert alert-success" id="url_msg" style= "display:none" > </div>
            {% if msg %}  
            <div class="alert alert-success" id="msg"  > {{msg}} </div>
            {% endif %}  
            
            {% if err_msg %}  
            <div class="alert alert-danger" id="msg2"  > {{err_msg}} </div>
            {% endif %} 

            <div class="alert alert-success hidden" id="delete-success"  > Course deleted successfully </div>
            <div class="alert alert-danger hidden" id="delete-error"  > Something went wrong </div>

              <div class="table-responsive">
                  <table id="course_table" class = "table table-striped col-md-12  table-hover table-bordered" style="border:1px">
                  <thead>
                    <tr>
                      <th  style="text-align:center ">S.No</th>  
                      <th  style="text-align:center "> Code</th>
                      <th  style="text-align:center "> Course Name</th>  
                      <th  style="text-align:center "> Course Level</th>
                      <th  style="text-align:center ">Duration</th>  
                      <th  style="text-align:center ">Start Date</th> 
                      <th  style="text-align:center ">End Date</th> 
                      <th  style="text-align:center ">Discount Percentage</th> 
                      
                      <th  style="text-align:center ">Used Count</th> 
                      <th  style="text-align:center ">Details</th>


                  </thead>
                  <tbody>
                    {% for promo_code in promocodes %}  
                      <tr >  
                        <td  style="text-align:center ">{{ promocodes.start_index|add:forloop.counter0}}</td>
                        <td  style="text-align:center ">{{promo_code.code}}</td>  
                        <td  style="text-align:center "> {{promo_code.course_id__course_name}}</td> 
                        <td  style="text-align:center "> {{promo_code.course_id__level__level}}</td> 
                      
                        <td  style="text-align:center "> {{promo_code.course_duration}}    </td>
                        <td  style="text-align:center ">{{ promo_code.start_date }} </td> 
                        <td  style="text-align:center ">{{promo_code.end_date }}</td>
                        <td  style="text-align:center ">{{promo_code.discount_percentage}} %</td> 

                        <td  style="text-align:center ">{{promo_code.used_count }}</td>
                        
                        <td  style="text-align:center ">   
                            <a class="ml-2" style="color:#0e4797 " data-toggle="popover" data-trigger="hover" data-placement="top" data-content="Edit" href="/secret/edit_promocode/{{ promo_code.id }}"><i class="fas fa-user-edit fa-lg"></i></a>

                            <label class="switch">
                              <input class="root" id="{{promo_code.id}}"    type="checkbox" {% if  promo_code.is_active is True %}
                              checked {% else %} unchecked {% endif %}>
                              <span  data-toggle="popover" data-trigger="hover" data-placement="top" {% if  promo_code.is_active is True %}
                              data-content="Active code" {% else %} data-content="Inactive code" {% endif %} class="slider round" style="background-color:#2a72d2" ></span>
                            </label>


                        </td>  
                      </tr>  
                    {% endfor %}
                  </tbody> 
                </table>

              </div>
              </div>
              
              {% if promocodes %}
                <nav aria-label="Page navigation ">  
                  <ul class="pagination justify-content-end ">
                    {% if promocodes.has_previous %}
                    <li class="page-item">
                      <a class="page-link"   href="?page=1&search_string={{data}}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">begin</span>
                      </a>
                    </li>  
                    {% endif %}
                    
                    {% for n in promocodes.paginator.page_range %}
                      {% if promocodes.number == n %}
                        <li class="page-item active">
                          <span class="page-link" >{{ n }}<span class="sr-only">(current)</span></span>
                        </li>
                      {% elif n > promocodes.number|add:'-3' and n < promocodes.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ n }}&search_string={{data}}">{{ n }}</a></li>
                      {% endif %}
                    {% endfor %}
                    
                    {% if promocodes.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="?page={{ promocodes.paginator.num_pages }}&search_string={{data}}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">end</span>
                        </a>
                      </li>
                      {% endif %}   
                  </ul> 
                  </nav>
                  
                {% endif %}  
          </div>
      </div>  
    </div>




  </div>
</div>

<script>
    $(function () {
    $('[data-toggle="popover"]').popover()
  })
  $(function () {
    $('[data-toggle="popoverdel"]').popover()
  })

  $(".root").on("click", function(event) {
  var check_value=$(this).next()
  if ($(this).is(':checked')) {
    $(this).attr('value', 'true');
    var toggle_status=1
  }
  else {
    $(this).attr('value', 'false');
    var toggle_status=0
  }
  console.log(toggle_status)
   var token =$('#token').attr('value')
   var id =  this.id
   console.log(id)

     $.ajax({
      url: '/secret/delete_promocode/?id='+id+'&toggle_status='+toggle_status,
           type: 'DELETE',
           headers:{
             "X-CSRFToken": token   },
            success: function(response) {
             if(response.status == 200){
              if(toggle_status==1){
                check_value.attr('data-content', 'Active code')
               }
               else{
                check_value.attr('data-content', 'Inactive code')
               }
              }
                },
           error: function(error){
            console.log(error)
            }
           });
     });


    $(document).ready(function() {
  var x= findGetParameter('msg')
  console.log(x)
  $("#url_msg").html(x)
  if(x!=null){
  $("#url_msg").show();
  setTimeout(function() { $("#url_msg").hide(); }, 7000);
  }



  function findGetParameter(parameterName) {
  var result = null,
  tmp = [];
  var items = location.search.substr(1).split("&");
  console.log(items)
  for (var index = 0; index < items.length; index++) {
    tmp = items[index].split("=");
    if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
  }
  return result;
  }

  });

</script>


{% endblock %}