{% extends 'secret/layout_forms.html' %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<div class="container">
  <div class="card card-login mx-auto mt-5">

    <div class="card-header">Reset Password</div>
    <div class="card-body">
      <input type="hidden" name="token" id="token" value="{{token}}" />
      <div class="form-group">
        <div class="form-label-group">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password"
            required="required">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="form-group">
        <div class="form-label-group">
          <input type="password" id="confirm-password" name="confirm-password" class="form-control"
            placeholder="Confirm Password" required="required">
          <label for="confirm-password">Confirm Password</label>
        </div>
      </div>
      <button onclick="resetpwd()" type="button" class="btn btn-primary btn-block">Reset</button>
    </div>

  </div>
</div>
<script>
  function resetpwd() {
    npwd = document.getElementById("password").value;
    console.log(npwd, '1')
    cnpwd = document.getElementById("confirm-password").value;
    console.log(cnpwd, '2')
    token = document.getElementById("token").value;
    console.log(token, '3')
    if (npwd != cnpwd || cnpwd.length == 0) {
      alert("Enter valid password(s)");
    }
    else {

      $.ajax({
        method: "POST",
        url: "http://137.184.122.181/api/forgot-password-addition/",

        data: {
          npwd: npwd,
          cnpwd: cnpwd,
          token: token,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        }
      })
        .done(function (msg) {
          alert((msg.data.message));
        });

    }
  }
</script>
{% endblock %}